<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 구글 아이콘 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- jquery -->
    <script src="/js/jquery-3.7.1.js"></script>
    <!-- 기본 CSS -->
    <link rel="stylesheet" href="/css/default.css" /> 
    <!-- 기본 js -->
    <script src="/js/default.js"></script>
    
    <header>
        <div class="header-wrap">           
             <a href="/"><img src="/img/맛zip로고.png"></a>          

            <div class="header-middle-box">
                <div>
                    <h1>" 무엇을 도와드릴까요? "</h1>
                </div>                
                <div class="header-search-box">
                    <input type="text" id="search" placeholder="먹고싶은 음식을 작성해주세요 ">
                    <span class="material-icons" id="search-icon">search</span>
                </div>
            </div>
            <div class="header-right-box">
                <ul>
                    <li><a href="#">Q&A</a></li>
                    <li><a href="/member/joinFrm">회원가입</a></li>
                    <li><a href="#">로그인</a></li>
                </ul>
                <ul>
                    <li><button onclick="searchBySubway();">역으로 보기</button></li>
                    <li><button>맛집 목록</button></li>
                </ul>

                <script>
                    function searchBySubway(){
                        location.href="/searchStoreBySubway";
                    }
                    
                    function main(){
                    	location.href="/";
                    }
                </script>
            </div>
        </div>    
    </header>
</html>