<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 구글 아이콘 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- jquery -->
    <script src="/js/jquery-3.7.1.js"></script>
    <!-- 기본 CSS -->
    <link rel="stylesheet" href="/css/default.css" /> 
    
    <header>
        <div class="header-wrap">           
             <a href="/"><img src="/img/맛zip로고.png"></a>          

            <div class="header-middle-box">
                <div>
                    <h1>" 무엇을 도와드릴까요? "</h1>
                </div>                
                <div class="header-search-box">
                    <input type="text" id="search" placeholder="먹고싶은 음식을 검색해주세요 ">
                    <span class="material-icons" id="search-icon">search</span>
                </div>
            </div>
            <div class="header-right-box">
            	<th:block th:if="${session.member == null}">
                <ul>
                    <li><a href="/board/boardList?reqPage=1">Q&A</a></li>
                    <li><a href="/member/joinFrm">JOIN</a></li>
                    <li><a href="/member/login">LOGIN</a></li>
                </ul>
                </th:block>
                <th:block th:unless="${session.member == null}">
                <ul>
                    <li><a href="/board/boardList?reqPage=1">Q&A</a></li>
                    <li><a th:if="${session.member.memberLevel==2}" href="/member/mystorepage">INFO</a>
                    	<a th:unless="${session.member.memberLevel==2}" href="/member/mypage">INFO</a>
                    </li>
                    <li><a href="/member/logout">LOGOUT</a></li>
                </ul>
                </th:block>
                <ul>
                    <li><button onclick="searchBySubway();">역으로 보기</button></li>
                    <li><button onclick="searchStoreList();">맛집 목록</button></li>
                </ul>

                <script>
                    function searchBySubway(){
                        location.href="/search/searchStoreBySubway";
                    }
                    
                    function main(){
                    	location.href="/";
                    }
                    
                    function searchStoreList(){
                    	location.href="/search/searchStoreList";
                    }
                </script>
            </div>
        </div>    
    </header>
</html>