<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery-3.7.1.js"></script>
<link rel="stylesheet" href="/css/storeInfo.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/notice.css">
</head>
<style>
.sss-content{
	padding: 50px;
	padding-bottom: 150px;
	width: 900px;
}    
.s-memberInfo-wrap{
 	margin: 0 auto;
	border: 1px solid #ccc;
    padding: 10px;
    padding-bottom: 50px;
    border-radius: 15px;
    padding: 80px;
    width: 800px;
    box-sizing: border-box;
}


</style>
<body>
	<script src="/js/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="/css/storeInfo.css">
    <link rel="stylesheet" href="/css/admin.css">
</body>
	<th:block th:include="common/header"></th:block>
    <div class="content">
        <div class="navigation">
            <ul>
                <li class="list">
                    <a class="active" href="/admin/allMember?reqPage=1">
                        <span class="material-icons">account_circle</span>
                        <span class="title">전체회원조회</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="material-icons">storefront</span>
                        <span class="title">매장 관리</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="material-icons">calendar_month</span>
                        <span class="title">신고 관리</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="material-icons">calendar_month</span>
                        <span class="title">블랙리스트관리</span>
                    </a>
                </li>
            </ul>
        </div>
		<script type="text/javascript">
		const list = $(".list");
		  list.on("click", function(){
		    list.children("a").removeClass("active");
		    $(this).children("a").addClass("active");
		    $(this).children("ul").children().toggleClass("sub-active");
		  });
		</script>

        <div class="sss-content">
            <div class="s-title2" style="font-size: 23px;"><h3>회원 상세 정보<h3></div>
            <div class="s-memberInfo-wrap">
            	<table>
            		<tr>
            			<th>회원등급</th>
            			<td th:if="${member.memberLevel}==1">관리자</td>
            			<td th:if="${member.memberLevel}==2">매장</td>
            			<td th:if="${member.memberLevel}==3">회원</td>
            			<td th:if="${member.memberLevel}==4">리뷰블랙</td>
            			<td th:if="${member.memberLevel}==5">예약블랙</td>
            			<td th:if="${member.memberLevel}==6">전체블랙</td>
            		</tr>
            		<tr>
            			<th>아이디</th>
            			<td th:text="${member.memberId}"></td>
            		</tr>
            		<tr>
            			<th>이름</th>
            			<td th:text="${member.memberName}"></td>
            		</tr>
            		<tr>
            			<th>이메일</th>
            			<td th:text="${member.memberEmail}"></td>
            		</tr>
            		<tr>
            			<th>닉네임</th>
            			<td th:text="${member.memberNickname}"></td>
            		</tr>
            		<tr>
            			<th>휴대전화</th>
            			<td th:text="${member.memberPhone}"></td>
            		</tr>
            		<tr>
            			<th>가입일</th>
            			<td th:text="${member.memberJoinDate}"></td>
            		</tr>
            		<tr>
						<th colspan="2" class="s-lastTh">
							<a th:if="${member.memberLevel}==2" href="#" class="memberInfoBtn" style="background-color: #72b37e">매장가기</a>	<!-- 매장상세링크 걸어줘야함 -->
							<a class="memberInfoBtn" style="background-color: #FFA648">수정하기</a>
							<a class="memberInfoBtn" style="background-color: #F15F5F;" onclick="return confirm('정말로 삭제하겠습니까?');">회원탈퇴</a>
					</th>
					</tr>
            	</table>
            </div>
        </div>
    </div>
    <th:block th:include="common/footer"></th:block>
</html>