<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/storeInfo.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/notice.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="content">
    	<th:block th:include="common/side"></th:block>
    	 <div class="sss-content">
            <div class="page-title">블랙리스트 관리</div>
            <div>
            	<form action="/admin/searchBlackStore" method="get" id="searchFrm">
					<th:block th:switch="${type}">
						<select th:case="id" name="type" class="input-form">
							<option value="all" >-</option>
							<option value="name" >매장명</option>
							<option value="id" selected>아이디</option>
						</select>
						<select th:case="name" name="type" class="input-form">
							<option value="all" >-</option>
							<option value="name" selected>매장명</option>
							<option value="id" >아이디</option>
						</select>
						<select th:case="*" name="type" class="input-form">
							<option value="all"  selected>-</option>
							<option value="name" >매장명</option>
							<option value="id">아이디</option>
						</select>
					</th:block>
					<input type="text" name="keyword" class="input-form" th:value="${keyword}">
					<input type="hidden" name="reqPage" value="1">
					<button type="submit" class="btn bc1" onclick="return checkKeyword();">검색</button>
				</form>
            </div>
            <table class="tbl tbl-hover" style="width: 800px;font-size: 15px;">
                <tr class="tr-3">
                	<th style="width:15%;">선택</th>
                    <th style="width:15%;">매장번호</th>
                    <th style="width:30%;">매장명</th>
                    <th style="width:15%;">아이디</th>                    
                    <th style="width:10%;">등급</th>
                    <th style="width:15%;">등급변경</th>
                </tr>
                <tr th:each="store:${list}" class="tr-1">
                	<td><input type="checkbox" class="chk"></td>
                    <td th:text="${store.storeNo}"></td>
                    <td><a th:href="@{/admin/storeView(storeNo=${store.storeNo})}" th:text="${store.storeName}"></a></td>
                    <td th:text="${store.memberId}"></td>
                    <td th:if="${store.storeLevel}==1">매장</td>
                    <td th:if="${store.storeLevel}==2">블랙</td>
                    <td>
                    	<button class="s-changeLevelBtn">블랙해제</button>                    
                    </td>
                </tr>
                <tr>
                	<th></th>
                	<th></th>
                	<th></th>
                	<th></th>
					<th colspan="2">
						<button class="checkedChangeLevel">선택매장블랙해제</button>
					</th>
				</tr>
            </table>
            <div id="pageNavi" th:utext="${pageNavi}"></div>
        </div>
    </div>
    <script type="text/javascript">
	    function checkKeyword(){
			const keyword = $("[name=keyword]").val();
			if(keyword==""){	//키워드가 아무값도 없을때
				alert("검색어를 입력하세요.")
				return false;
			}
		}
	    $(".changeLevel").on("click",function(){
			//클릭한 버튼 기준으로 해당 행의 회원번호를 가지고 옴
			const memberNo = $(this).parent().parent().children().eq(1).text();
			//클릭한 버튼 기준으로 해당 행의 선택한 등급
			const memberLevel = $(this).parent().prev().children().val();
			
			//console.log("memberNo : "+memberNo);
			//console.log("memberLevel : "+memberLevel);
			//서버전송에 필요한 데이터는 모두 가져옴(회원번호, 선택한 회원 등급)
			//서버에 update요청 -> 1. form, 2. a태그
			//a태그 방식으로
			location.href = "/admin/changeLevel?memberNo="+memberNo+"&memberLevel="+memberLevel;
		});
		
		$(".checkedChangeLevel").on("click",function(){
			const check= $(".chk:checked");		
			if(check.length==0){
				alert("선택된 회원이 없습니다.");
				return;
			}
			//체크된 회원 번호를 모두 저장할 배열
			const no = new Array();
			//체크된 회원 레벨을 모두 저장할 배열
			const level = new Array();
			
			//체크된 체크박스 기준으로 회원번호랑, 선택한 등급 가져옴
			check.each(function(index,item){
				const memberNo = $(item).parent().next().text();
				no.push(memberNo);
				const memberLevel= $(item).parent().parent().find("select").val();
				level.push(memberLevel);
			});
			console.log(no);
			console.log(level);
			location.href="/admin/checkedChangeLevel?no="+no.join("/")+"&level="+level.join("/");
			///admin/checkedChangeLevel?no=5/7/8&level=2/1/3
		});
    </script>
    <th:block th:include="common/footer"></th:block>
</body>
</html>