<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/searchStoreBySubway.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- jquery -->
	<script src="/js/jquery-3.7.1.min.js"></script>

</head>
<th:block th:include="common/header"></th:block>

<body>
	<div class="page-wrap">
		<div class="page-content1">
			<div class="menu">
				<div class="subway-line-menu" id="menu">
					<div id="line1-menu" onclick="toggleStations('line1'); colorChange(this)">1호선</div>
					<div id="line2-menu" onclick="toggleStations('line2'); colorChange(this)">2호선</div>
					<div id="line3-menu" onclick="toggleStations('line3'); colorChange(this)">3호선</div>
					<div id="line4-menu" onclick="toggleStations('line4'); colorChange(this)">4호선</div>
					<div id="line5-menu" onclick="toggleStations('line5'); colorChange(this)">5호선</div>
					<div id="line6-menu" onclick="toggleStations('line6'); colorChange(this)">6호선</div>
					<div id="line7-menu" onclick="toggleStations('line7'); colorChange(this)">7호선</div>
					<div id="line8-menu" onclick="toggleStations('line8'); colorChange(this)">8호선</div>
					<div id="line9-menu" onclick="toggleStations('line9'); colorChange(this)">9호선</div>
				</div>

				<div id="line1" class="station-list" style="display: none;">
					<!-- 1호선 역 목록 -->
					<ul>
						<li>소요산역</li>
					</ul>
				</div>
				<div id="line2" class="station-list" style="display: none;">
					<ul>
						<li>당산역</li>
						<li>신도림역</li>
						<li>건대입구역</li>
						<li>잠실역</li>
						<li>강남역</li>
						<!-- 나머지 2호선 역들 -->
					</ul>
				</div>
				<!-- 3호선 역 목록 -->
				<div id="line3" class="station-list" style="display: none;">
					<ul>
						<li>대화역</li>
						<li>주엽역</li>
						<li>정발산역</li>
						<!-- 나머지 3호선 역들 -->
					</ul>
				</div>

				<!-- 4호선 역 목록 -->
				<div id="line4" class="station-list" style="display: none;">
					<ul>
						<li>당고개역</li>
						<li>상계역</li>
						<li>노원역</li>
						<!-- 나머지 4호선 역들 -->
					</ul>
				</div>
				<!-- 나머지 노선에 대한 역 목록 div들도 여기에 포함 -->
				<!-- 5호선 역 목록 -->
				<div id="line5" class="station-list" style="display: none;">
					<ul>
						<li>방화역</li>
						<li>개화산역</li>
						<li>김포공항역</li>
						<!-- 나머지 5호선 역들 -->
					</ul>
				</div>

				<!-- 6호선 역 목록 -->
				<div id="line6" class="station-list" style="display: none;">
					<ul>
						<li>응암역</li>
						<li>역촌역</li>
						<li>불광역</li>
						<!-- 나머지 6호선 역들 -->
					</ul>
				</div>

				<!-- 7호선 역 목록 -->
				<div id="line7" class="station-list" style="display: none;">
					<ul>
						<li>장암역</li>
						<li>도봉산역</li>
						<li>수락산역</li>
						<!-- 나머지 7호선 역들 -->
					</ul>
				</div>

				<!-- 8호선 역 목록 -->
				<div id="line8" class="station-list" style="display: none;">
					<ul>
						<li>암사역</li>
						<li>천호역</li>
						<li>강동구청역</li>
						<!-- 나머지 8호선 역들 -->
					</ul>
				</div>

				<!-- 9호선 역 목록 -->
				<div id="line9" class="station-list" style="display: none;">
					<ul>
						<li>개화역</li>
						<li>김포공항역</li>
						<li>공항시장역</li>
						<!-- 나머지 9호선 역들 -->
					</ul>
				</div>
			</div>
			<div class="search-by-subway">
				<img alt="" src="/img/2호선 그림.png">

				<div class="subway-line">
					<div class="subway-station" id="jamsil-station">
						<div>
							<span class="material-icons"> circle </span>
							<div class="subway-station-name">잠실</div>
						</div>
					</div>
					<div class="subway-station" id="gangnam-station">
						<div>
							<span class="material-icons"> circle </span>
							<div class="subway-station-name">강남</div>
						</div>
					</div>
					<div class="subway-station" id="dangsan-station">
						<div>
							<span class="material-icons"> circle </span>
							<div class="subway-station-name">당산</div>
						</div>
					</div>
					<div class="subway-station" id="sindorim-station">
						<div>
							<span class="material-icons"> circle </span>
							<div class="subway-station-name">신도림</div>
						</div>
					</div>
					<div class="subway-station" id="konkuk-university-entrance-station">
						<div>
							<span class="material-icons"> circle </span>
							<div class="subway-station-name">건대입구</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content2">
			<div class="division-bar"></div>

			<div>
				<form action="" method="get" id="">

				</form>
			</div>
		</div>
	</div>





	<script>
		function toggleStations(lineId) {
			scrollToTop(0, 70);

			// 모든 역 목록을 숨김
			//const allStations = document.querySelectorAll('.station-list');
			const allStations = $(".station-list");
			allStations.hide();

			// 선택된 노선의 역 목록을 토글
			let selectedStations = $("#lineId");

			$("#" + lineId).toggle();
		}

		function scrollToTop(x, y) {
			window.scrollTo(x, y);
		}

		function colorChange(element) {
			const allStations = $(".station-list");
			const id = element.id;

			//const allMenu = document.querySelectorAll('.subway-line-menu > div');
			const allMenu = $(".subway-line-menu > div");

			// // 전부 흰색
			allMenu.css('background', 'white');

			// // 모든 역의 배경색을 흰색으로 설정
			allStations.css('background', 'white');


	

			if (id == 'line1-menu') {
				$(element).css('background', 'linear-gradient(to bottom, #C34A36, #FF8066)');
				allStations.each(function (index, item) {
					//$(this)
					//$유의
					$(item).css('background', 'linear-gradient(to bottom, #C34A36, #FF8066)');
				});
			}

			if (id == 'line2-menu') {
				$(element).css('background', 'linear-gradient(to bottom, #D65DB1, #FF6F91)');
				allStations.each(function () {
					$(this).css('background', 'linear-gradient(to bottom, #D65DB1, #FF6F91)');
				});
			}
			if (id == 'line3-menu') {
				$(element).css('background', 'linear-gradient(to bottom, #FF6F91, #FF9671)');
				allStations.each(function () {
					$(this).css('background', 'linear-gradient(to bottom, #FF6F91, #FF9671)');
				});
			}
			if (id == 'line4-menu') {
				$(element).css('background', 'linear-gradient(to bottom, #FF9671, #FFC75F)');
				allStations.each(function () {
					$(this).css('background', 'linear-gradient(to bottom, #FF9671, #FFC75F)');
				});
			}
			if (id == 'line5-menu') {
				$(element).css('background', 'linear-gradient(to bottom, #FFC75F, #FF9671)');
				allStations.each(function () {
					$(this).css('background', 'linear-gradient(to bottom, #FFC75F, #FF9671)');
				});
			}
			if (id == 'line6-menu') {
				$(element).css('background', 'linear-gradient(to bottom, #FFC75F, #F9F871)');
				allStations.each(function () {
					$(this).css('background', 'linear-gradient(to bottom, #FFC75F, #F9F871)');
				});
			}
			if (id == 'line7-menu') {
				$(element).css('background', 'linear-gradient(to bottom, #FF9671, #FFC75F)');
				allStations.each(function () {
					$(this).css('background', 'linear-gradient(to bottom, #FF9671, #FFC75F)');
				});
			}
			if (id == 'line8-menu') {
				$(element).css('background', 'linear-gradient(to bottom, #FFC75F, #FF9671)');
				allStations.each(function () {
					$(this).css('background', 'linear-gradient(to bottom, #FFC75F, #FF9671)');
				});
			}
			if (id == 'line9-menu') {
				$(element).css('background', 'linear-gradient(to bottom, #FF9671, #FF6F91)');
				allStations.each(function () {
					$(this).css('background', 'linear-gradient(to bottom, #FF9671, #FF6F91)');
				});
			}
		}
	</script>

</body>
<th:block th:include="common/footer"></th:block>

</html>