<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>맛집 상세 페이지</title>
<link rel="stylesheet" href="/css/storeDetail.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="img-zone">
			<!-- 임시사진 -->
			<img src="/photo/store/강남_무궁화반점.jpg" width=500px>
		</div>
		<div class="store-info">
			<div class="store-head">
				<div class="store-name">무궁화반점</div>
				<div class="store-like">하트</div>
				<div class="store-star">별점</div>
				<div class="store-report">신고</div>
			</div>
			<div class="store-addr">주소</div>
			<div class="store-phone">전화번호</div>
			<div class="store-hours">영업시간(휴무일)</div>
			<div class="store-intro">매장 소개글</div>
			
		</div>
		
	</div>
	<th:block th:include="common/footer"></th:block>
</body>
</html>