<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>사업자 인증 확인</title>
<script src="/js/jquery-3.7.1.js"></script>
<!-- <link rel="stylesheet" href="css/사업사인증.css"> -->
</head>
<body>
    <div class="content">
        <h1>사업자 번호 확인</h1>
        <div class="title">등록할 사업자번호를 입력해주세요</div>
        <form id="bussinessForm" method="post" action="#">
            <div>
                <input type="text" name="num1" class="num1" size="3" maxlength="3" id="inputBox"> -
                <input type="text" name="num2" class="num2" size="2" maxlength="2" id="inputBox"> -
                <input type="text" name="num3" class="num3" size="5" maxlength="5" id="inputBox">
            </div>
            <div>
                <input type="button" value="사업자 등록번호 조회" id="check">
            </div>
            <div>
                <span id="ajaxCheck"></span>
            </div>	
            <div>
                <input class="enrollStore" type="submit" value="회원가입하기">
            </div>
        </form>
    </div>


	<script>
		//사업자 등록번호 조회
		$("#check").on("click",function(){
		    var reg1 = $(".num1").val();
	        var reg2 = $(".num2").val();
	        var reg3 = $(".num3").val();
	       //console.log(reg1);
	       //console.log(reg2);
	       //console.log(reg3); 
	       
	       var bs_num = reg1 + "" + reg2 + "" + reg3;
	       //console.log(bs_num, typeof(bs_num));
	       
	       var data = {
           		"b_no": [""+bs_num+""] // 사업자번호 "xxxxxxx" 로 조회 시,
           	   }; 
	       //console.log(data);	   
	       
           $.ajax({
        	  //인코딩 키 주면 되고 디코딩 키주면 안댐
           	  url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=8CPiAUJwtCcph1LZoyv2%2BHHEtTJDVb3oKNNLRju7DE%2BC%2F2E865koh2pLSdKHDbe0EtdzoSOwgmIkd6GBSXK4GQ%3D%3D",  
           	  type: "POST",
           	  data: JSON.stringify(data), // json 을 string으로 변환하여 전송
           	  dataType: "JSON",
           	  contentType: "application/json",
           	  accept: "application/json",
           	  success: function(result) {
           	    //console.log(result);
           	    //console.log(result.data[0].b_stt_cd); //사업자 01번 호출되어야 정상
           	    //console.log(result.data[0].b_no);
                let valid = result.data[0].b_stt_cd;

                if (valid=='01'){
                	 $("#ajaxCheck").text("정상적인 사업자번호입니다.");
                     $("#ajaxCheck").css("color", "green");               
                     console.log("있는 사업자입니다.")
                     $("#bussinessForm").attr("action", "https://www.naver.com/");
                     //$('#Button').removeAttr('disabled');
                     
                     
                    }else {
                        $("#ajaxCheck").text("사업자등록번호 확인 후 다시 입력해주세요.");
                        $("#ajaxCheck").css("color", "red");
                        // $('#Button').attr('disabled','disabled');
                        $("#bussinessForm").attr("action", "#");
                	console.log("없는 사업자입니다.")
                }
           	  },
           	  error: function(result) {
           	      console.log(result.responseText); //responseText의 에러메세지 확인
           	  }
           	});
	       
		});
	</script>
	
</body>
</html>