@charset "UTF-8";

        .content {
            /*width: 1200px;*/
            margin: 0 auto;
            display: flex;
        }

        .navigation {
            position: relative;
            width: 250px;
            background: #fff;
            border-right : 4px solid #ebebeb;
            border-left: 10px solid #fff;
            overflow-x: hidden;
            display: flex;
        }


        /* list */

        .navigation>ul {
            top: 0;
            left: 0;
            width: 100%;
            padding-left: 5px;
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .navigation ul li {
            position: relative;
            list-style: none;
            width: 100%;
        }

        .navigation ul li a {
            position: relative;
            display: block;
            width: 100%;
            display: flex;
            text-decoration: none;
            color: #000;
        }

        .navigation ul li a.active {
            background: #fff0e0;
        }
        .navigation ul li a .material-icons {
            position: relative;
            display: block;
            min-width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 1.5em;
        }

        .navigation ul li a .title {
            position: relative;
            flex-grow: 1;
            display: block;
            height: 60px;
            line-height: 60px;
            white-space: nowrap;
        }

        .navigation ul li a .more {
            position: relative;
            display: block;
            padding-right: 20px;
            height: 60px;
            line-height: 60px;
            white-space: nowrap;
        }


        /* sub-list */

        .navigation ul li ul {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            padding-left: 80px;
        }

        .navigation ul li ul li {
            display: none;
        }

        .navigation ul li ul li.sub-active {
            display: block;
        }
        
.content{
	margin: 0 auto;


}

.sss-content{
	padding: 50px;
	padding-bottom: 150px;
	/*width: 890px;*/
}     
.input-level{
	width: 90px;
	display: block;
    padding: 0.5rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.s-changeLevelBtn{
	width: 60px;
	height: 40px;
	border: none;
	border-radius: 10px;
	cursor: pointer;

}

#searchFrm{
	width : 350px;
	display :flex;
	float: right;
}
#searchFrm>select{
	width:80px;
}
#searchFrm>input{
	width:220px;
}
#searchFrm>button{
	width:60px;
}
#searchFrm>*{
	padding : 0.4rem;
}
#write-btn{
	padding : 0.4rem;
	width : 100px;
	text-align : center;
	margin:0;
}
.sss-content tr{
	border-bottom: 1px solid #e9e8e8;
	
}