@charset "UTF-8";

.page-wrap{
    margin: 0 auto;
}

.page-content1{
/*     height: 500px; */
    width: 1200px;
    
    /* background-color: aquamarine; */
    margin: 0 auto;
    display: flex;
}

.menu{
    width: 300px;
    /* height : 500px; */
    /* background-color: bisque; */
}

.search-by-subway{
    width: 900px;
    /* height : 500px; */
    
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.search-by-subway > img{
	width: 100%;
}

.search-by-subway {
    position: relative;
}

.subway-line > .subway-station {
    position: absolute;
}

.subway-station .material-icons{
    color: yellow;
    font-size: 26px;
}
/* .subway-station .subway-station-name{

} */

.subway-station:hover .material-icons{
    transform: scale(2);
    cursor: pointer;
}

.subway-station:hover .subway-station-name{
    font-weight: 900;
}



#dangsan-station {
    top: 614px;
    left: 26px;
}
#jamsil-station {
    top: 595px;
    left: 762px;
}
#gangnam-station{
    top: 850px;
    left: 663px;
}
#sindorim-station{
    top: 850px;
    left: 20px;
}
#konkuk-university-entrance-station{
    top: 380px;
    left: 746px;
}

.subway-station > div{
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    flex-direction: column; /* 자식 요소들을 세로 방향으로 정렬 */
    height: 100%; /* 부모의 전체 높이를 사용 */
}

.menu{
	display: flex;
	
}

.subway-line-menu{
	width: 50%;
	/* border-right: 2px solid black; */
}

.subway-line-menu div:not(:last-child){
    border-bottom: 2px solid #ebebeb;
}

.subway-line-menu div{
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    font-family: ns-r;
}


.station-list{
	width: 50%;
}

.station-list ul{
    list-style-type: none;
    
}

.station-list li{
    height: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.station-list li:first-child{
    padding-top: 30px;
    font-family: ns-r;
    
}

.search-by-subway>img{
    width: 70%;
}

.page-content2{
    /* margin-top: 300px; */

    width: 1200px;
    height: 1000px;
    background-color: aquamarine;
    margin: 0 auto;
    /* display: flex; */
}

/* .page-wrap{
    display: flex;
    flex-direction: column;
} */

.division-bar{
    height: 10px;
    width: 100%;
    background-color: gray;
}

.modal-bg {
    display: none; /* Initially hide the modal */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /*Enable scroll if needed*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: 70vh; /* Maximum height of the modal content */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.close-button {
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}