@charset "UTF-8";

a {
  color: #191919;
}

/* 공통 디자인 */
.page-content {
  width: 1200px;
  margin: 30px auto;
}

.store-head {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

/* 이미지 영역 */
.img-zone {
  width: 600px;
  height: 300px;
}

/* 매장 헤드(우측정렬) */
.store-title {
  width: 600px;
}
.store-title > div {
  display: inline-block;
  margin-right: 10px;
}

/* 매장 정보 */
.store-info {
  width: 600px;
  margin-top: 40px;
}
.store-info > div {
  display: block;
  margin-bottom: 20px;
}

.store-mid {
  width: 600px;
  margin-top: 40px; /* 필요에 따라 조정 */
}
