@charset "UTF-8";

a {
  color: #191919;
}

/* 공통 디자인 */
.page-content {
  width: 1200px;
  margin: 30px auto;
}

.store-head {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

/* 이미지 영역 */
.img-zone {
  width: 600px;
  height: 300px;
}

/* 매장 헤드(우측정렬) */
.store-title {
  width: 600px;
}
.store-title > div {
  display: inline-block;
  margin-right: 10px;
}
.store-title > div:first-child {
  display: block;
  margin-bottom: 10px;
}

/* 매장 정보 */
.store-info {
  width: 600px;
  margin-top: 40px;
}
.store-info > div {
  display: block;
  margin-bottom: 20px;
}

/* 매장 3요소 */
.store-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.store-section > div {
  width: calc(33.33% - 20px); /* 요소 사이의 간격을 띄우기 위해 33.33%에서 간격을 빼줍니다. */
}
.store-section > div:not(:last-child) {
  margin-right: 20px;
}
.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
