<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>맛집 : 맛'Zip'</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
  <th:block th:include="common/header"></th:block>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <div class="page-content">
    <div class="page-title">✅ <span>MOST</span> 맛'Zip'🔻</div>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="store : ${topList}">
          <a th:href="@{'/search/conveyStoreInfoToDetail?storeNo=' + ${store.storeNo}}">
            <img th:src="@{/store/{storeImg}(storeImg=${store.storeImg})}" />
          </a>
        </div>
      </div>
      
    </div>

    <div class="page-title">✅ 실시간<span> BEST </span> 평점 🔻</div>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="store : ${subwayList}">
          <a th:href="@{'/search/conveyStoreInfoToDetail?storeNo=' + ${store.storeNo}}">
            <img th:src="@{/store/{storeImg}(storeImg=${store.storeImg})}" />
          </a>
        </div>
      </div>
      
    </div>

  </div>

  <th:block th:include="common/footer"></th:block>

  <script>
    // 페이지 로드 시 실행되는 함수
    $(document).ready(function () {
      const swiper = new Swiper('.swiper', {
        autoplay: {
          delay: 1500,
        },
        loop: true,
        slidesPerView: 3,
        spaceBetween: 10,
        centeredSlides: true,

        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },

        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        
      });
    })

  </script>

</body>

</html>