<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--헤더-->
  <th:block th:include="common/header"></th:block>
  <!--//헤더-->

  <!--사이드메뉴-->
  <th:block th:include="common/side-menu"></th:block>
  <!--//사이드메뉴-->

  <main>
    <!--컨텐츠-->
    <div class="page-content">
      <div class="page-title">예약하기</div>

      <!--매장정보-->
      <article></article>
      <!--//매장정보-->

      <!--데이트피커-->
      <article style="width:1000px;height:1000px;">
        <form action="/reserve/reserveList" method="post">
          <div id="datepicker"></div>
          <input type="hidden" name="reserveDate" id="reserveDate">
          
          <input type="submit" value="넘기기">
        </form>
      </article>
      <!--//데이트피커-->
    </div>
  </main>
  
  <script src="/js/jquery-ui-1.13.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/js/jquery-ui-1.13.2/jquery-ui.css"></link>
  <script src="/js/reserveFrm.js"></script>
  
  <!--푸터-->
  <th:block th:include="common/footer"></th:block>
  <!--//푸터-->
</body>
</html>