<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

  <!--헤더-->
  <th:block th:include="common/header"></th:block>
  <!--//헤더-->

  <!--사이드메뉴-->
  <th:block th:include="common/side-menu">
  
  </th:block>
  <!--//사이드메뉴-->

  <main>
    <!--컨텐츠-->

  
  <!--//컨텐츠-->
  </main>



  <script src="/js/reserveList.js"></script>

  <!--ajax-->
  <script>

  </script>
  <!--//ajax-->
  
  <!--푸터-->
  <th:block th:include="common/footer"></th:block>
  <!--//푸터-->
</body>
</html>