<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--헤더-->
  <th:block th:include="common/header"></th:block>
  <!--//헤더-->

  <!--사이드메뉴-->
  <th:block th:include="common/side-menu">
  
  </th:block>
  <!--//사이드메뉴-->

  <main>
    <!--컨텐츠-->
    <div class="page-content">
      <div class="page-title">예약하기</div>

      <!--매장정보-->
      <article></article>
      <!--//매장정보-->

      <!--데이트피커-->
      <article style="width:400px;height:400px;">
        <div id="datepicker"></div>
      </article>
      <!--//데이트피커-->

      <!--예약정보 입력-->
      <article>
        <form action="/reserve/reserve" method="post">
          <input type="hidden" name="reserveDate" id="reserveDate">
          <ul>

            <li class="time-area">
              <input type="hidden" name="reserveTime" id="reserveTime">
              <!--datepicker에서 날짜 클릭시 button(시각)들을 ajax로 추가-->
            </li>

            <li class="people-area">
              <input type="hidden" name="reservePeople" id="reservePeople">
              <span>예약 인원 : </span>
              <span class="material-icons" id="people-minus">remove</span>
              <span clas="people" id="people"> </span>
              <span class="material-icons" id="people-plus">add</span>
            </li>
  
            <li class="menu-area">
              <!--보내는 데이터 형태(배열) 예시 : menuNo = [1, 2, 3], servings = [2, 2, 2]-->
              <span>메뉴(선택사항)</span>
              <select class="menu-list" style="width:200px;">
                <option th:each="menu : ${menus}" th:text="${menu.menuName}" th:value="${menu.menuNo}"></option>
              </select>
              <span class="material-icons" id="servings-minus">remove</span>
              <span clas="people" id="servings">1</span>
              <span class="people">인분</span>
              <span class="material-icons" id="servings-plus">add</span>
              <button type="button" id="menu-order-btn">추가</button>
              <!--이 위치에 jquery로 추가될 태그는
                <input type="hidden" name="menuNo" value="?">
                <input type="hidden" name="servings" value="?">
                여러개도 가능
              -->
              <!--이 위치에 추가된 메뉴 보여주고, 삭제버튼도 생성-->
              <div class="selected-menu"></div>
            </li>

            <li class="request-area">
              <input type="text" name="reserveRequest">
            </li>

            <li>
              <button type="submit" id="reserve-btn">예약완료</button>
            </li>

          </ul>
        </form>
      </article>
      <!--//예약정보 입력frm-->

    </div>
    <!--//컨텐츠-->
  </main>
  
  <script th:inline="javascript">
    //reserveFrm.js에 storeNo 넘겨주기 위해 이 스크립트를 만들었음
    const storeNo = [[${store.storeNo}]];
  </script>
  
  <script src="/js/jquery-ui-1.13.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/js/jquery-ui-1.13.2/jquery-ui.css"></link>
  <script src="/js/reserveFrm.js"></script>

  <!--ajax-->
  <script>

  </script>
  <!--//ajax-->
  <!--푸터-->
  <th:block th:include="common/footer"></th:block>
  <!--//푸터-->
</body>
</html>